@charset 'utf-8';

@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;500;600;700&display=swap');

:root{
  /*Paleta de cores*/
  --color1: #1b08bd;
  --color2: #ffd700;
  --color3: #fff;
  --color4: #000;
  --color5: #150986;

  /*Tipografia*/
  --title: "Josefin Sans", sans-serif;
}

.glider-contain {
  width: 90%;
  margin: 0 auto;
  position: relative;
}
a{
  text-decoration: none;
}
.glider a {
  display: flex;
  margin: 0 auto;
  position: relative;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  transform: translateZ(0);
}
.glider-contain .glider .card{
  width: 300px;
  height: 300px;
  border: solid 1px white;
}
.glider-track {
  transform: translateZ(0);
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  z-index: 1;
}
.glider.draggable {
  user-select: none;
  cursor: -webkit-grab;
  cursor: grab;
}
.glider.draggable .glider-slide img {
  user-select: none;
  pointer-events: none;
}
.glider.drag {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.glider-slide {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  user-select: none;
  justify-content: center;
  align-content: center;
  width: 100%;
  margin: 5px;
  background-color: var(--color2);
  border-radius: 10px 10px 10px 10px;
}
.glider-slide .litleBox{
  width: 100%;
  height: 50%;
}
.glider-slide .litleBox h3{
  font-family: var(--title);
  font-size: 21px;
  font-weight: 700;
  color: var(--color4);
  padding: 15px;
}
.glider-slide .litleBox p{
  font-family: var(--title);
  color: var(--color4);
  padding: 15px;
  text-align: justify;
}
.glider-slide .imgBx {
  position: relative;
  width: 100%;
  height: 50%;
  border-radius: 10px 10px 0px 0px;
}
.glider-slide .imgBx img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}
.glider::-webkit-scrollbar {
  opacity: 0;
  height: 0;
}
.glider-prev {
  user-select: none;
  position: absolute;
  outline: none;
  background: none;
  padding: 0;
  z-index: 2;
  font-size: 40px;
  text-decoration: none;
  left: -3%;
  border: 0;
  top: 35%;
  cursor: pointer;
  color: #666;
  opacity: 1;
  line-height: 1;
  transition: opacity .9s cubic-bezier(.17,.67,.83,.67),
              color .9s cubic-bezier(.17,.67,.83,.67);
}
.glider-prev img{
  transform: rotate(90deg);
  width: 40px;
  filter: invert();
}

.glider-next img{
  transform: rotate(270deg);
  width: 40px;
  filter: invert();
}
.glider-prev:hover,
.glider-next:hover,
.glider-prev:focus,
.glider-next:focus {
  color: #a89cc8;
}
.glider-next {
  position: absolute;
  left: 100%;
  top: 35%;
}
.glider-next.disabled,
.glider-prev.disabled {
  opacity: .25;
  color: #666;
  cursor: default;
}
.glider-slide {
  min-width: 150px;
  min-height: 300px;
}
.glider-hide {
  opacity: 0;
}
.glider-dots {
  user-select: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
}
.glider-dot {
  border: 0;
  padding: 0;
  user-select: none;
  outline: none;
  display: block;
  cursor: pointer;
  color: #ccc;
  border-radius: 999px;
  background: #ccc;
  width: 12px;
  height: 12px;
  margin: 7px;
}
.glider-dot:hover,
.glider-dot:focus,
.glider-dot.active {
  background: #a89cc8;
}
@media(max-width:815px){
  .glider-prev img{
    display: none;
  }
  .glider-next img{
    display: none;
  }
  .glider-slide .litleBox h3{
    padding: 15px;
  }
  .glider-slide .litleBox p{
    padding: 3px;
  }

}
@media(max-width: 600px){
  .glider::-webkit-scrollbar {
    opacity: 1;
    -webkit-appearance: none;
    width: 7px;
    height: 3px;
  }
  .glider::-webkit-scrollbar-thumb {
    opacity: 1;
    border-radius: 99px;
    background-color: rgba(156, 156, 156, 0.25);
    box-shadow: 0 0 1px rgba(255,255,255,.25);
  }
}
